<div class="d-fx bo-1px w-100vw">
    <div class="bo-1px w-40">
        <div class="">
                <h3 class="" id="monthAndYear"  ng-model="monthAndYear"></h3>
            <table class="" id="calendar" ng-model="calendar">
                <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
                </thead>
    
                <tbody id="calendar-body" ng-model="calendarBody">
              
                </tbody>
            </table>
            <div class="">
                <button class="" id="previous" ng-click="previous()">Previous</button>
                <button class="" id="next" ng-click="next()">Next</button>
            </div>
            <br/>
        </div>
    </div>
    <!-- Ledgers Name Here -->
    <div class="bo-1px w-60">
        <h4>asdsadasd</h4>
    </div>
</div>
