* {
  font-smooth: always;
  border: 0;
  font: inherit;
  background: none;
}

::placeholder {
  color: #bdbdbd;
}
body{
  font-family: SF Pro Display;
}
div, img, i, span, button, a, select, input, textarea {
  position: relative;
  display: block;
  float: inherit;
  border-style: solid;
  color: inherit;
  text-align: inherit;
}
button {
  cursor: pointer;
}
table {
  border-spacing: 0px;
}
.bg-today {
  color: #FF9696;
  border-radius:50%;
  height: 40px;
  width: 40px;
  font-weight: 900;
}
.bg-bday {
  color: #fff;
  background: rgba(255, 150, 150, 0.5);;
  border-radius:50%;
  font-weight: 900;
  width: 15%;
}
.bg-bday-today{
  color: #fff;
  background: #FF9696;
  border-radius:50%;
  font-weight: 900;
  width: 15%;
}
