/** WARNING - USE AT OWN RISK */
/** IT IS AGAINST APPLE'S POLICY TO USE SF PRO FOR ANYTHING OTHER THAN iOS/tvOS/macOS/watchOS DESIGN & DEVELOPMENT */
/** https://sf.abarba.me/LICENSE.pdf */

/** 1. Copy/import this file into your main css/scss file */
/** 2. Change css font-family: to "SF Text", "SF Display" or "SF Mono" */
/** 3. Apply font-weight or italic to html elements */

/** THANK YOU */
/** I host these fonts on Cloudfront with SSL in all AWS regions for the best performance and reliability */
/** If you'd like to help offset costs, I'd very much appreciate a donation via Lisk https://lisk.io */
/** Address: 14987768355736502769L */
/** Delegate: andrew */

/*---------------------------------------------------------------------------*
 * SF Display
 *---------------------------------------------------------------------------*/

  /** Black */
  @font-face {
    font-family: "SF Display";
    font-weight: 900;
    /*src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");*/
    src: url("../asset/fonts/UI-Display/SF-UI-Display-Black.otf");
  }

  /** Bold */
  @font-face {
    font-family: "SF Display";
    font-weight: 700;
    /*src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");*/
    src: url("../asset/fonts/UI-Display/SF-UI-Display-Bold.otf");
  }

  /** Heavy */
  @font-face {
    font-family: "SF Display";
    font-weight: 800;
    /*src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");*/
    src: url("../asset/fonts/UI-Display/SF-UI-Display-Heavy.otf");
  }

  /** Light */
  @font-face {
    font-family: "SF Display";
    font-weight: 200;
    /*src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");*/
    src: url("../asset/fonts/UI-Display/SF-UI-Display-Light.otf");
  }

  /** Medium */
  @font-face {
    font-family: "SF Display";
    font-weight: 500;
    /*src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");*/
    src: url("../asset/fonts/UI-Display/SF-UI-Display-Medium.otf");
  }

  /** Regular */
  @font-face {
    font-family: "SF Display";
    font-weight: 400;
    /*src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");*/
    src: url("../asset/fonts/UI-Display/SF-UI-Display-Regular.otf");
  }

  /** Semibold */
  @font-face {
    font-family: "SF Display";
    font-weight: 600;
    /*src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");*/
    src: url("../asset/fonts/UI-Display/SF-UI-Display-Semibold.otf");
  }

  /** Thin */
  @font-face {
    font-family: "SF Display";
    font-weight: 300;
    /*src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");*/
    src: url("../asset/fonts/UI-Display/SF-UI-Display-Thin.otf");
  }

  /** Ultralight */
  @font-face {
    font-family: "SF Display";
    font-weight: 100;
    /*src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");*/
    src: url("../asset/fonts/UI-Display/SF-UI-Display-Ultralight.otf");
  }

/*---------------------------------------------------------------------------*
 * SF Text
 *---------------------------------------------------------------------------*/

  /** Bold */
  @font-face {
    font-family: "SF Text";
    font-weight: 700;
    /*src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-Bold.otf");
  }

  /** Bold Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 700;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SF-UI-Text-BoldItalic.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-BoldItalic.otf");
  }

  /** Heavy */
  @font-face {
    font-family: "SF Text";
    font-weight: 800;
    /*src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-Heavy.otf");
  }

  /** Heavy Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 800;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-HeavyItalic.otf");
  }

  /** Light */
  @font-face {
    font-family: "SF Text";
    font-weight: 200;
    /*src: url("https://sf.abarba.me/SF-UI-Text-Light.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-Light.otf");
  }

  /** Light Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 200;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-HeavyItalic.otf");
  }

  /** Medium */
  @font-face {
    font-family: "SF Text";
    font-weight: 500;
    /*src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-Medium.otf");
  }

  /** Medium Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 500;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SF-UI-Text-MediumItalic.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-MediumItalic.otf");
  }

  /** Regular */
  @font-face {
    font-family: "SF Text";
    font-weight: 400;
    /*src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-Regular.otf");
  }

  /** Regular Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 400;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SF-UI-Text-RegularItalic.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-RegularItalic.otf");
  }

  /** Semibold */
  @font-face {
    font-family: "SF Text";
    font-weight: 600;
    /*src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-Semibold.otf");
  }

  /** Semibold Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 600;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-SemiboldItalic.otf");
  }

  /** Ultrathin */
  @font-face {
    font-family: "SF Text";
    font-weight: 100;
    /*src: url("https://sf.abarba.me/SF-UI-Text-Ultrathin.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-Ultrathin.otf");
  }

  /** Ultrathin Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 100;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SF-UI-Text-UltrathinItalic.otf");*/
    src: url("../asset/fonts/UI-Text/SF-UI-Text-UltrathinItalic.otf");
  }

/*---------------------------------------------------------------------------*
 * SF Mono
 *---------------------------------------------------------------------------*/

  /** Bold */
  @font-face {
    font-family: "SF Mono";
    font-weight: 700;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-Bold.otf");
  }

  /** Bold Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 700;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SFMono-BoldItalic.otf");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-BoldItalic.otf");
  }

  /** Heavy */
  @font-face {
    font-family: "SF Mono";
    font-weight: 800;
    /*src: url("https://sf.abarba.me/SFMono-Heavy.otf");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-Heavy.otf");
  }

  /** Heavy Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 800;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-HeavyItalic.otf");
  }

  /** Light */
  @font-face {
    font-family: "SF Mono";
    font-weight: 200;
    /*src: url("https://sf.abarba.me/SFMono-Light.otf");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-Light.otf");
  }

  /** Light Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 200;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-HeavyItalic.otf");
  }

  /** Medium */
  @font-face {
    font-family: "SF Mono";
    font-weight: 500;
    /*src: url("");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-Medium.otf");
  }

  /** Medium Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 500;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SFMono-MediumItalic.otf");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-MediumItalic.otf");
  }

  /** Regular */
  @font-face {
    font-family: "SF Mono";
    font-weight: 400;
    /*src: url("https://sf.abarba.me/SFMono-Regular.otf");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-Regular.otf");
  }

  /** Regular Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 400;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SFMono-RegularItalic.otf");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-RegularItalic.otf");
  }

  /** Semibold */
  @font-face {
    font-family: "SF Mono";
    font-weight: 600;
    /*src: url("https://sf.abarba.me/SFMono-Semibold.otf");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-Semibold.otf");
  }

  /** Semibold Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 600;
    font-style: italic;
    /*src: url("https://sf.abarba.me/SFMono-SemiboldItalic.otf");*/
    src: url("../asset/fonts/Sf-Mono/SFMono-SemiboldItalic.otf");
  }

/*---------------------------------------------------------------------------*
 * SF Pro Display
 *---------------------------------------------------------------------------*/

  /** Black */
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 900;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-Black.otf");
  }

  /** Black Italic*/
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 900;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-BlackItalic.otf");
  }

  /** Bold */
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 700;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-Bold.otf");
  }

  /** Bold Italic*/
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 700;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-BoldItalic.otf");
  }

  /** Heavy */
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 800;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-Heavy.otf");
  }

  /** Heavy Italic*/
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 800;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Pro/SF-Pro-Display-HeavyItalic.otf");
  }

  /** Light */
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 200;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-Light.otf");
  }

  /** Light Italic*/
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 200;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-LightItalic.otf");
  }

  /** Medium */
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 500;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-Medium.otf");
  }

  /** Medium Italic*/
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 500;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-MediumItalic.otf");
  }

  /** Regular */
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 400;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-Regular.otf");
  }

  /** Regular Italic*/
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 400;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-RegularItalic.otf");
  }

  /** SemiBold */
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 600;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-Semibold.otf");
  }

  /** SemiBold Italic*/
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 600;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-SemiboldItalic.otf");
  }

  /** Thin */
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 300;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-Thin.otf");
  }

  /** Thin Italic*/
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 300;
    src: url("../asset/fonts/SF-Pro-Display-ThinItalic.otf");
  }

  /** UltraThin */
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 100;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-Ultralight.otf");
  }

  /** UltraThin Italic*/
  @font-face {
    font-family: "SF Pro Display";
    font-weight: 100;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/SF-Pro-Display-UltralightItalic.otf");
  }

/*---------------------------------------------------------------------------*
 * SF Text Display
 *---------------------------------------------------------------------------*/

  /** Bold */
  @font-face {
    font-family: "SF Text Display";
    font-weight: 700;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-Bold.otf");
  }

  /** Bold Italic*/
  @font-face {
    font-family: "SF Text Display";
    font-weight: 700;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-BoldItalic.otf");
  }

  /** Heavy */
  @font-face {
    font-family: "SF Text Display";
    font-weight: 800;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-Heavy.otf");
  }

  /** Heavy Italic*/
  @font-face {
    font-family: "SF Text Display";
    font-weight: 800;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-HeavyItalic.otf");
  }

  /** Light */
  @font-face {
    font-family: "SF Text Display";
    font-weight: 200;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-Light.otf");
  }

  /** Light Italic*/
  @font-face {
    font-family: "SF Text Display";
    font-weight: 200;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-LightItalic.otf");
  }

  /** Medium */
  @font-face {
    font-family: "SF Text Display";
    font-weight: 500;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-Medium.otf");
  }

  /** Medium Italic*/
  @font-face {
    font-family: "SF Text Display";
    font-weight: 500;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-MediumItalic.otf");
  }

  /** Regular */
  @font-face {
    font-family: "SF Text Display";
    font-weight: 400;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-Regular.otf");
  }

  /** Regular Italic*/
  @font-face {
    font-family: "SF Text Display";
    font-weight: 400;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-RegularItalic.otf");
  }

  /** SemiBold */
  @font-face {
    font-family: "SF Text Display";
    font-weight: 600;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-Semibold.otf");
  }

  /** SemiBold Italic*/
  @font-face {
    font-family: "SF Text Display";
    font-weight: 600;
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Sf-Text/SF-Pro-Text-SemiboldItalic.otf");
  }

/*---------------------------------------------------------------------------*
 * Apple SD Gothic Neo
 *---------------------------------------------------------------------------*/
  
  /** Apple SD Gothic Neo */
  @font-face {
    font-family: "Apple SD Gothic Neo";
    /*font-weight: 600;*/
    /*src: url("https://sf.abarba.me/SFMono-Bold.otf");*/
    src: url("../asset/fonts/Appple-SD-Gothic-Neo/AppleSDGothicNeo.ttf");
  }