<html>
<head>
    <!-- Authorize  -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://api.trello.com/1/client.js?key=86b2621fa79c88d61ff3a95b82ec2bd7"></script>

    <!-- Bower -->
    <link rel="stylesheet" href="../bower_components/reset.css/reset.css">
    <!-- Custom -->
    <link rel="stylesheet" href="../css/sanfrancisco-font.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/loader.css">

    <!-- CDN -->
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <!-- Bower -->
    <script src="../bower_components/cssist/cssist.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular/angular-route.js"></script>
    

    <!-- Custom -->
    <script src="../js/app.js"></script>

    <!-- Directives -->
    <script src="../js/statistics/weeklyDir.js"></script>
    <script src="../js/statistics/monthlyDir.js"></script>
    <script src="../js/statistics/yearlyDir.js"></script>
    <script src="../js/reward/timeDir.js"></script>
    <script src="../js/reward/taskDir.js"></script>
    <script src="../js/calendar/birthdayDir.js"></script>
    <script src="../js/calendar/holidayDir.js"></script>
    <!-- <script src="../js/salary/totalSalaryDir.js"></script> -->
    <!-- <script src="../js/salary/thirteenDir.js"></script> -->
    <!-- <script src="../js/salary/privateSalaryDir.js"></script> -->

    <!-- Services -->
    <script src="../js/services/apiS.js"></script> <!-- API-->

    <script src="../js/services/dayS.js"></script> <!-- Attendance -->
    <script src="../js/services/weekS.js"></script> 
    <script src="../js/services/monthS.js"></script>
    <script src="../js/services/yearS.js"></script> <!-- Attendance End -->

    <script src="../js/services/totalSalaryS.js"></script> 
    <script src="../js/services/bonuseS.js"></script> 
    <script src="../js/services/privateSalaryS.js"></script> 

    <script src="../js/services/timeS.js"></script>  <!-- Awards -->
    <script src="../js/services/taskS.js"></script> 
    <script src="../js/services/winS.js"></script> <!-- AwardsEnd -->

    <script src="../js/services/birthdayS.js"></script> <!-- Calendar -->
    <script src="../js/services/holidayS.js"></script>
    <script src="../js/services/nationalityS.js"></script>

        <!-- Filters -->
    <script src="../js/filters/monthF.js"></script>
    <script src="../js/filters/yearF.js"></script>
    <script src="../js/filters/monthTimeF.js"></script>
    <script src="../js/filters/yearTimeF.js"></script>
    <script src="../js/filters/timeWinnerF.js"></script>
    <script src="../js/filters/timeOrder.js"></script>

    <script src="../js/filters/monthTaskF.js"></script>
    <script src="../js/filters/yearTaskF.js"></script>
    <script src="../js/filters/taskWinnerF.js"></script>
    <script src="../js/filters/taskOrder.js"></script>
    

    <title>WorkTimist</title>
</head>
<body class="p-r f-l w-100 "  ng-app="workingHoursTrello" ng-controller="mainCtrl">
    <div class="" style="background: white; width: 100%; color: #777777;">
        <div class="w-100 d-fx jc-sb h-62px">
            <div class="w-165px pt-10px pl-24px pr-24px t-c"><img class="h-50px" src="../asset/logo.png"></div>

            <div class="h-100 d-fx ai-c">
                <span ng-repeat="item in mainMenu" class="cursor-pointer tt-u t-c" ng-class="{'b-73AFE4 c-we':  activeMenu == item.title}" ng-click="$root.showLoader()">
                    <a class="pt-21px pb-21px pl-24px pr-24px" ng-click="activateMenu(item.title); switchSub(item.title)" href="#!{{item.active}}" style="text-decoration: none;">{{item.title}}</a>
                </span>
                <div class="h-40  bo-1px bo-gy"></div>
                <span class="cursor-pointer tt-u pt-21px pb-21px pl-24px pr-24px t-c"  ng-click="">
                    <a style="text-decoration: none;"><img class="h-20px" src="../asset/camera_pic.png" ng-click="openModal()"></a>
                </span>
            </div>
        </div>
        <span style="width:100%; height:1px; background: #EAEAEA;"></span>
        <div class="w-100 pl-40px">
            <span  ng-repeat="item in subMenu" 
            ng-class="{'active_subMenu':  activeSub == item}"
            style=" font-size: 15px; padding-top: 12px; padding-bottom: 12px; padding-left: 21px; padding-right: 21px;">
                <p class="tt-c cursor-pointer" ng-click="changeTemplate(item)">
                    <a  href="#!{{item}}" ng-click="activateSub(item)"  ng-class="{'c-73AFE4':  activeSub == item}" style="text-decoration: none">
                        {{item}}
                    </a>
                </p>
            </span>
        </div>
    </div>
    <span class="" style="width:100%; height:2px; background: #EAEAEA;"></span>
    <div  class='w-100 pl-33px h-90 pr-33px bc-E0E0E0'  id="targetDiv">
            <div ng-view class="w-100 bc-FFFFFF mt-10px"></div>
            <!-- the template will be rendered here -->
    </div>

    <!-- Modal of Prited Screen here -->
    <div id="modalTimist" class="modal">
        <div class="modal-content">
            <span class="close" ng-click="closeModal()">&times;</span>
            <div  id="showTarget">
                <!-- Append the Print Screen Here -->
            </div>
        </div>
    </div>
    <div id="tyle-loader">
        <div>
        </div>
        <div>
            <div>
            </div>
        </div>
    </div>
    <script src="../bower_components/html2Canvas/html2canvas.js"></script>
</body>
</html>