<html>
<head>
    <!-- Bower -->
    <link rel="stylesheet" href="../bower_components/reset.css/reset.css">
    <!-- Custom -->
    <link rel="stylesheet" href="../css/sanfrancisco-font.css">
    <link rel="stylesheet" href="../css/main.css">

    <!-- CDN -->
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <!-- Bower -->
    <script src="../bower_components/cssist/cssist.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular/angular-route.js"></script>
    

    <!-- Custom -->
    <script src="../js/statistics/app.js"></script>

    <!-- Directives -->
    <script src="../js/statistics/directives/weeklyDir.js"></script>
    <script src="../js/statistics/directives/monthlyDir.js"></script>
    <script src="../js/statistics/directives/yearlyDir.js"></script>
    <script src="../js/statistics/directives/timeDir.js"></script>
    <script src="../js/statistics/directives/taskDir.js"></script>
    <script src="../js/calendar/birthdayDir.js"></script>
    <script src="../js/calendar/holidayDir.js"></script>

    <!-- Services -->
    <script src="../js/services/apiS.js"></script>
    <script src="../js/services/dayS.js"></script>
    <script src="../js/services/holidayS.js"></script>
    <script src="../js/services/nationalityS.js"></script>
    <script src="../js/services/weekS.js"></script>
    <script src="../js/services/monthS.js"></script>
    <script src="../js/services/yearS.js"></script>
    <script src="../js/services/timeS.js"></script>
    <script src="../js/services/winS.js"></script>
    <script src="../js/services/taskS.js"></script>  
    <script src="../js/services/birthdayS.js"></script>
    <script src="../js/services/holidayS.js"></script>
    <script src="../js/services/calendarS.js"></script>
 
    <title>WorkTimist</title>
</head>
<body class="p-r f-l w-100" ng-app="workingHoursTrello" ng-controller="mainCtrl">
    <div style="background: white; width: 100%; color: #777777;">
        <div style="width:100%;">
            <span ng-repeat="item in mainMenu" class="cursor-pointer tt-u pt-21px pb-21px pl-24px pr-24px t-c" ng-class="{'b-73AFE4 c-we':  activeMenu == item.title}" 
            ng-click="activateMenu(item.title)">
                <a ng-click="switchSub(item.title)" href="#!{{item.active}}" style="text-decoration: none;">{{item.title}}</a>
            </span>
            <span class="cursor-pointer tt-u pt-21px pb-21px pl-24px pr-24px t-c bo_l-1px"  ng-click="">
                <a style="text-decoration: none;"><img class="h-20px" src="../asset/camera_pic.png" ng-click="openModal()"></a>
            </span>
        </div>
        <span style="width:100%; height:1px; background: #EAEAEA;"></span>
        <div style="width:100%;">
            <span  ng-repeat="item in subMenu" 
            ng-class="{'active_subMenu':  activeSub == item}"
            style=" font-size: 15px; padding-top: 12px; padding-bottom: 12px; padding-left: 21px; padding-right: 21px;">
                <p class="tt-c cursor-pointer" ng-click="changeTemplate(item)">
                    <a  href="#!{{item}}" ng-click="activateSub(item)"  ng-class="{'c-73AFE4':  activeSub == item}" style="text-decoration: none">
                        {{item}}
                    </a>
                </p>
            </span>
        </div>
    </div>
    <span class="" style="width:100%; height:2px; background: #EAEAEA;"></span>
    <div  class='w-100'  id="targetDiv">
            <div ng-view class="w-100"></div><!-- the template will be rendered here -->
    </div>

    <!-- Modal of Prited Screen here -->
    <div id="modalTimist" class="modal">
        <div class="modal-content">
            <span class="close" ng-click="closeModal()">&times;</span>
            <div  id="showTarget">
                <!-- Append the Print Screen Here -->
            </div>
        </div>
    </div>
    <script src="../bower_components/html2Canvas/html2canvas.js"></script>
</body>
</html>