<div class="w-100 c-ACACAC">
  <div class="w-100 h-69px">
    <div class="p-a t-0 d-ib h-100 cen-x">
      <button class="w-45px h-100 mr-30px f-l" ng-click="$root.decreaseMonth();">
        Back
      </button>
      <span class="f-24px fw-900 cen-y f-l">
        {{$root.dt.Date|date: 'MMMM'}}
      </span>
      <button class="w-45px h-100 ml-30px f-l" ng-click="$root.increaseMonth();">
        Forward
      </button>
    </div>
    <div class="p-a t-0 d-ib h-100 l-30px">
      <span class="f-18px fw-900 cen-y">
        {{$root.dt.Date|date: 'yyyy'}}
      </span>
    </div>
  </div>
  <div class="w-100 h-60px">
    header
  </div>
  <div class="w-100 h-45px">
    content
  </div>
</div>
