<div class="w-100 c-ACACAC">
  <div class="w-100 h-69px">
    <div class="p-a t-0 d-ib h-100 cen-x">
      <button class="w-45px h-100 mr-30px f-l" ng-click="$root.decreaseWeek();">
        Back
      </button>
      <span class="f-24px fw-900 cen-y f-l">
        {{$root.dt.week}} WEEK
      </span>
      <button class="w-45px h-100 ml-30px f-l" ng-click="$root.increaseWeek();">
        Forward
      </button>
    </div>
    <div class="p-a t-0 d-ib h-100 l-30px">
      <span class="f-18px fw-900 cen-y">
        {{$root.dt.Date|date: 'yyyy'}} {{$root.dt.Date|date: 'MM'}}
      </span>
    </div>
  </div>
  <div class="w-100">
    <table class="w-100 t-c">
      <tr class="w-100 h-60px">
        <!-- name -->
        <th>NAME</th>
        <!-- dts -->
        <th ng-repeat="dt in dts">
          <span class="f-18px fw-900">
            {{("0" + (dt.getMonth() + 1)).slice(-2)}}/{{dt.date}}
          </span><br>
          <div class="f-12px fw-900">
            {{dt.Date|date:'EEE'}}
          </div>
        </th>
        <!-- total -->
        <th>TOTAL</th>
      </tr>
      <!-- repeating output base on Username -->
      <tr class="w-100 h-45px" ng-repeat="member in boardMembers">
        <!-- name -->
        <td>{{member.fullName}}</td>
        <!-- dts -->
        <!-- lists and card -->
        <td ng-repeat="dt in dts">
              {{getCard(dt.Date, member.id)}}
        </td>
        <!-- total -->
        <td>{{0}}</td>
      </tr>
    </table>
  </div>
  <div class="w-100 h-45px">

  </div>
</div>
