<div class="w-100 c-ACACAC bc-E0E0E0">
  <div class="w-100 mb-3px" style="box-shadow: 3px 3px #ccc;">
    <div class="w-100 h-69px d-fx fxd-c ai-c bc-FFFFFF">
      <div class="t-0 h-100 c-333333 w-300px d-fx jc-c mt-11px">
        <button class="w-35px h-27px mr-30px f-l" ng-click="decreaseWeek();">
          {{"<"}}
        </button>
        <span class="f-26px fw-900 cen-y f-l c-333333 lh-29px">
          {{dt.week}} WEEK
        </span>
        <button class="w-35px h-27px ml-30px f-l c-333333" ng-click="increaseWeek();">
          {{">"}}
        </button>
      </div>
      <div class="t-0 h-100 w-200px">
        <span class="f-18px fw-900 cen-y lh-17px f-12px tt-u c-333333">
          <h3 class="t-c">{{dt.Date|date: 'yyyy'}} {{dt.Date|date: 'MMMM'}}</h3>
        </span>
      </div>
    </div>
      <div class="w-100 h-1px b-gy o-30"></div>
      <div class="w-100 bc-FFFFFF">
        <table class="w-100 t-c">
          <tr class="w-100 h-60px">
            <!-- name -->
            <th><span class="f-12px c-BDBDBD lh-17 h-18px">NAME</span></th>
            <!-- dts -->
            <th ng-repeat="dt in dts">
              <span class="f-12px c-BDBDBD lh-17 h-18px">
                {{dt.month}}/{{dt.date}}
              </span><br>
              <div class="f-9px lh-13 c-BDBDBD tt-u">
                {{dt.Date|date:'EEE'}}
              </div>
            </th>
            <!-- total -->
            <th><span class="f-12px c-BDBDBD lh-17 h-18px">TOTAL</span></th>
          </tr>
          <!-- repeating output base on Username -->
          <tr class="w-100 h-45px c-686868" ng-repeat="member in $root.workedInfo" ng-click="$root.changeSelectedMember(member.fullName)" ng-class="{selected:  member.fullName == $root.selectedMember}">
            <!-- name -->
            <td><span class="f-12px lh-17px h-18">{{member.fullName}}</span></td>
            <!-- dts -->
            <!-- lists and card -->
            <td ng-repeat="dt in dts" class="t-26 b-64">
              <span class="f-12px lh-17px h-18">{{getDailyCard(dt.Date, member)}}</span>
            </td>
            <!-- total -->
            <td><span class="f-12px lh-17px h-18">
              {{ getWeeklyCard(dts, member) }}/{{ getWeeklyNeedWork(dts, member) }}
            </span>
          </td>
            <!-- <td><span class="f-12px lh-17px h-18  c-686868">{{getWeeklyCard(dts, member.id)}}/{{getWeeklyNeedWork(dts)}}</span></td> -->
          </tr>
        </table>
      </div>
  </div>
  <br>
  <div class="w-100 h-45px bc-E0E0E0">
    <div class="pt-20px w-100">
      <p style="text-align: left; font-size: 12px; color: #333;"><strong style="font-weight: 900; color:green; font-size: 14px;">Green: </strong>Exceeded Working days. 
        <strong style="font-weight: 900; color:red; font-size: 14px;">Red: </strong>Fewer Working days.</p>
    </div>
  </div>
</div>
