<div class="w-100 c-ACACAC">
  <div class="w-100 h-69px">
    <div class="p-a t-0 d-ib h-100 cen-x">
      <button class="w-45px h-100 mr-30px f-l c-FF9696 fw-900" ng-click="$root.decreaseYear();">
        {{"<"}}
      </button>
      <span class="f-24px fw-900 cen-y f-l c-FF9696">
        {{$root.dt.Date|date: 'yyyy'}}
      </span>
      <button class="w-45px h-100 ml-30px f-l c-FF9696 fw-900" ng-click="$root.increaseYear();">
        {{">"}}
      </button>
    </div>
  </div>
  <div class="w-100 h-60px">
    <table class="w-100 t-c">
      <tr class="w-100 h-60px">
        <!-- name -->
        <th><span class="f-12px c-BDBDBD lh-17 h-18px">NAME</span></th>
        <!-- dts -->
        <th ng-repeat="dts in months">
          <!-- month/Days -->
          <p class="f-12px h-18 c-BDBDBD lh-17 tt-u">
            {{dts.month}}
          </p>
        </th>
        <!-- total -->
        <th><span class="f-12px c-BDBDBD lh-17 h-18px">TOTAL</span></th>
      </tr>
      <!-- repeating output base on Username -->
      <tr class="w-100 h-45px" ng-repeat="member in boardMembers"
      ng-class="[$index % 2 === 1 ? 'b-we' : 'b-FAFAFA']">
        <td><span class="f-12px lh-17px h-18">{{member.fullName}}</span></td>
  
        <td ng-repeat="dts in months" class="t-26 b-64">
          <span class="f-12px lh-17px h-18">
              {{getMonthlyCard(dts.value, member.id)}}
              /
              {{getMonthlyNeedWork(dts.value)}}
          </span>
        </td>
        <td>
            <span class="f-12px lh-17px h-18">{{getYearlyCard(member.id)}}/{{getYearlyNeedWork()}}</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="w-100 h-45px">

  </div>
</div>
