<div class="w-100 c-ACACAC  bc-E0E0E0">
  <div class="w-100 mb-3px" style="box-shadow: 3px 3px #ccc;">
    <div class="w-100 h-69px d-fx fxd-c ai-c  bc-FFFFFF">
      <div class="t-0 h-100 c-333333 w-300px d-fx jc-c mt-11px">
        <button class="w-30px h-27px mr-30px f-l c-333333 fw-500" ng-click="$root.decreaseYear(); $root.showLoader();">
          {{"<"}}
        </button>
        <span class="f-24px lh-29px fw-900 cen-y f-l c-333333 tt-u">
          {{$root.dt.Date|date: 'yyyy'}}
        </span>
        <button class="w-35px h-27px ml-30px f-l c-333333 fw-500" ng-click="$root.increaseYear(); $root.showLoader();">
          {{">"}}
        </button>
      </div>
    </div>
    <div class="w-100 h-1px b-gy o-30"></div>
    <div class="w-100  bc-FFFFFF">
      <table class="w-100 t-c c-686868">
        <tr class="w-100 h-60px">
          <!-- name -->
          <th><span class="f-12px lh-17 h-18px c-BDBDBD">NAME</span></th>
          <!-- dts -->
          <th ng-repeat="dts in months">
            <!-- month/Days -->
            <p class="f-12px lh-17 h-18px c-BDBDBD">
              {{dts.month}}
            </p>
          </th>
          <!-- total -->
          <th><span class="f-11px lh-1 h-1px c-BDBDBD">Annual</span><br><span class="f-11px lh-1 h-1px c-BDBDBD">Leave</span></th>
          <th><span class="f-12px lh-17 h-18px c-BDBDBD">TOTAL</span></th>
        </tr>
        <!-- repeating output base on Username -->
        <tr class="w-100 h-45px" ng-repeat="workers in $root.workedInfo" ng-click="$root.changeSelectedMember(workers.fullName)" ng-class="{selected:  workers.fullName == $root.selectedMember}">
          <td><span class="f-12px lh-17px h-18">{{workers.fullName}}</span></td>
          <td ng-repeat="dts in months" class="t-26 b-64">
              <span class="f-12px lh-17px h-18" ng-class="{'c-gn': work > toWork, 'c-red': work < toWork}">
              <span ng-class="{'c-gy': overall == '-'}">{{overall = showMonthly(work = (workers | getMonthValue: dts.value), toWork = getMonthlyToWork(workers.id, dts.value))}}</span>
            </span>
          </td>
          <td>
            <span class="f-12px lh-17px h-18">
                  {{getAnnualLeave(workers.id, yearWork)}}
            </span>
          </td>
          <td>
            <span class="f-12px lh-17px h-18" ng-class="{'c-gn': work > toWork, 'c-red': work < toWork, 'c-bk': work == 0}">
                  {{yearWork = (workers | getYearValue)}} / {{toWork = getYearlyToWork(workers.id)}}
            </span>
          </td>
        </tr>
      </table>
    </div> 
  </div>
  <br>
  <div class="w-100 h-45px bc-E0E0E0">
    <div class="pt-20px w-100">
      <p style="text-align: left; font-size: 12px;"><strong style="font-weight: 900; color:green; font-size: 14px;">Green: </strong>Exceeded Working days. 
        <strong style="font-weight: 900; color:red; font-size: 14px;">Red: </strong>Fewer Working days.</p>
    </div>
  </div>
</div>
