<div class="w-100 c-ACACAC bc-E0E0E0">
  <div class="w-100 mb-3px" style="box-shadow: 3px 3px #ccc;">
    <div class="w-100 h-69px d-fx fxd-c ai-c bc-FFFFFF">
      <div class="t-0 h-100 c-333333 w-300px d-fx jc-c mt-11px">
   
      </div>
      <div class="t-0 h-100 w-40px">
        
      </div>
    </div>
    <div class="w-100 b-gy o-30" style="height:1px"></div>
    <div class="w-100 bc-FFFFFF">
      <table class="w-100 t-c">
        <tr class="w-100 t-60px h-45px bg-FFFFFF  c-BDBDBD">
          <th ng-repeat="item in menuItem">
            <!-- month/Days -->
            <p class="f-12px h-18 lh-17 tt-u">
              {{item}}
            </p>
          </th>
        </tr>
        <!-- repeating output base on Username -->
        <tr class="t-26 b-64 h-50px c-686868" ng-repeat="workedMonth in $root.workedMonths">
          <td><span class="f-12px lh-17px h-18">{{workedMonth.year}}
              {{ workedMonth.Date.toLocaleString("en", { month: "short"  }) }}</span></td>
          <td class="t-26 b-64">
            <span class="f-12px lh-17px h-18">{{ $index + 1 }}</span>
          </td>
          <td class="t-26 b-64">
            <span
              class="f-12px lh-17px h-18">{{ formatSalary(salary = getCurrentSalary(workedMonth.memberId, workedMonth.Date)) }}
              {{$index}}</span>
          </td>
          <td class="t-26 b-64">
            <span
              class="f-12px lh-17px h-18">{{ percentage = getPercentage(workedMonth.memberId, workedMonth.nationality, workedMonth.Date, workedMonth.year, workedMonth.month + 1)}}
              {{(percentage > 0) ? " %" : " "}}</span>
          </td>
          <td class="t-26 b-64">
            <span
              class="f-12px lh-17px h-18">{{formatBonuse(bonus = getBonuse(workedMonth.memberId, workedMonth.year, workedMonth.month + 1))}}</span>
          </td>
          <td class="t-26 b-64">
            <span
              class="f-12px lh-17px h-18">{{ formatSalary(totalSalary = getTotalSalary(salary, percentage, bonus.value, $index, workedMonth.enterDate)) }}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="w-100 h-45px bc-E0E0E0">
    <div class="pt-20px w-100">
      <p style="text-align: right; font-size: 12px; color: #333">*Leader: 10,000 php. / Task Award : 5,000 php. / Time
        Award : 5,000 php. /Launch Award : 50,000 php. </p>
    </div>
  </div>
</div>