<div class="w-100 c-ACACAC">
    <div class="w-100 h-69px d-fx fxd-c ai-c">
      <div class="t-0 h-100 c-333333 w-300px d-fx jc-c mt-11px">
        <button class="w-35px h-27px mr-30px f-l fw-500" ng-click="$root.decreaseMonth();">
          <span class="f-l">{{"<"}}</span>
        </button>
        <span class="f-26px fw-900 cen-y f-l c-333333 lh-29px tt-u">
          {{$root.dt.Date|date: 'MMMM'}}
        </span>
        <button class="w-35px h-27px ml-25px f-r c-333333 fw-500"  ng-click="$root.increaseMonth();">
          <span class="f-r"> {{">"}}</span>
        </button>
    </div>
    <div class="t-0 h-100 w-40px">
      <span class="f-18px fw-900 cen-y lh-17px f-12px tt-u c-333333">
        {{$root.dt.Date|date: 'yyyy'}}
      </span>
    </div>
  </div>
  <div class="w-100 b-gy o-30" style="height:1px"></div>
  <div class="w-100">
    <table class="w-100 t-c">
      <tr class="w-100 t-60px h-45px bg-FFFFFF  c-BDBDBD">
        <th ng-repeat="item in menuItem">
          <!-- month/Days -->
          <p class="f-12px h-18 lh-17 tt-u">
            {{item}}
          </p>
        </th>
      </tr>
      <!-- repeating output base on Username -->
      <tr class="t-26 b-64 h-50px c-686868" ng-repeat="member in $root.boardMembers">
        <td><span class="f-12px lh-17px h-18">month</span></td>
        <td class="t-26 b-64">
          <span class="f-12px lh-17px h-18">4</span>
        </td>
        <td class="t-26 b-64">
          <span class="f-12px lh-17px h-18">15,000 PHP</span>
        </td>
        <td class="t-26 b-64">
          <span class="f-12px lh-17px h-18">90%</span>
        </td>
        <td class="t-26 b-64">
          <span class="f-12px lh-17px h-18">5,000 PHP(Time)</span>
        </td>
        <td class="t-26 b-64">
          <span class="f-12px lh-17px h-18">20,000 PHP</span>
          <!-- for Testing
          <span class="f-12px lh-17px h-18">{{totalSalary = getTotalSalary(monthNumber, salary, percentage, bonuse.value, member.id)}}</span> -->
        </td>
      </tr>
    </table>
  </div>
</div>
