<html>
  <head>
    <!-- CDN -->
    <!-- <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css"> -->
    <!-- Bower -->
    <link rel="stylesheet" href="../../bower_components/reset.css/reset.css">
    <!-- Custom -->
    <link rel="stylesheet" href="../../css/sanfrancisco-font.css">
    <link rel="stylesheet" href="../../css/main.css">

    <!-- CDN -->
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Bower -->
    <script src="../../bower_components/cssist/cssist.js"></script>
    <script src="../../bower_components/moment/moment.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular/angular-route.js"></script>
    <!-- Custom -->
    <script src="../../js/app.js"></script>
    <!-- Services -->
    <script src="../../js/services/apiS.js"></script>
    <script src="../../js/services/dayS.js"></script>
    <script src="../../js/services/weekS.js"></script>
    <script src="../../js/services/monthS.js"></script>
    <script src="../../js/services/holidayS.js"></script>
    <script src="../../js/services/nationalityS.js"></script>
    <!-- Directives -->
    <script src="../../js/statistics/monthlyDir.js"></script>
  </head>
  <body class="p-r f-l w-100" ng-app="workingHoursTrello">
    <monthly-dir class="w-100"></monthly-dir>
  </body>
</html>
