<html>
  <head>
    <!-- CDN -->
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <!-- Bower -->
    <link rel="stylesheet" href="../../bower_components/reset.css/reset.css">
    <!-- Custom -->
    <link rel="stylesheet" href="../../css/main.css">

    <!-- CDN -->
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Bower -->
    <script src="../../bower_components/cssist/cssist.js"></script>
    <script src="../../bower_components/moment/moment.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <!-- Custom -->
    <script src="../../js/statistics/app.js"></script>
    <script src="../../js/statistics/directives/weeklyDir.js"></script>
  </head>
  <body ng-app="workingHoursTrello">
    <monthly-dir class="w-100"></monthly-dir>
  </body>
</html>
