<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
    </div>
    <script src="../../js/statistics/yearly.js"></script>
  </body>
  <script>
  var t = window.TrelloPowerUp.iframe();
  t.render(function(){
    t.lists('all')
    .then(function (lists) {
      console.log(lists);
      console.log(JSON.stringify(lists, null, 2));
    });
  });
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!'
    }
  });
  </script>
</html>
