<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <img src="../../js/statistics/yearly.jpg"/>
      {{years}}
    </div>
    <script src="../../js/statistics/yearly.js"></script>
  </body>
  <script>
  var t = window.TrelloPowerUp.iframe();
  var years;
  t.render(function(){
    t.lists('all')
    .then(function (lists) {
      years = lists;
      for(var i=0; i<lists.length; i++){
        var list = lists[i];
        if(!list.name) continue;
      }
    });
  });
  var app = new Vue({
    el: '#app',
    data: {
      years: years
    }
  });
  </script>
</html>
