<div class="h-400px">
    <div class="w-30 bo-1px bo-gy">
        <div class="w-100 h-400px d-fx fxd-c jc-c">
            <div class="w-100  d-fx jc-sb p-10px fw-900">
                <button class="" id="previous" ng-click="previous()">{{'<'}}</button>
                <p>{{currentMonthName}} {{currentYear}}</p>
                <button class="" id="next" ng-click="next()">{{'>'}}</button>
            </div>
            <br>
            <div class="w-100 h-100 d-fx jc-c">
                <table class="w-100 h-100" id="calendar" ng-model="calendar" ng-init="fff()">
                    <thead class="">
                        <tr class="">
                            <th class="">Sun</th>
                            <th class="">Mon</th>
                            <th class="">Tue</th>
                            <th class="">Wed</th>
                            <th class="">Thu</th>
                            <th class="">Fri</th>
                            <th class="">Sat</th>
                        </tr>
                    </thead>
                    <tbody id="calendar-body" class="t-c" ng-model="calendarBody" >
                        {{initiateCalendar()}}
                    </tbody>
                </table>
            </div>
            <br/>
        </div>
    </div>
    <!-- Ledgers Name Here -->
    <div class="w-70 h-400px bo-1px bo-gy">
        <table class ="w-100 h-100"> 
            <tr class ="h-46px">
                <th class="fw-b">Name</th>
                <th class="fw-b">Birthday</th>
                <th class="fw-b">Year</th>
                <th class="fw-b">Age</th>
            </tr>
            <span class="bo-px1 w-100"></span>
            <tr class="w-100 h-36px t-c " ng-repeat="member in boardMembers" ng-class="[$index % 2 === 1 ? 'b-we' : 'b-FAFAFA']" 
            ng-click="getToBirthday(getMemberBirthMonth(member.id), getMemberBirthYear(member.id))">
                <td>{{member.fullName}}</td>
                <td>{{getMemberBirthDate(member.id)}}</td>
                <td>{{getMemberBirthYear(member.id)}}</td>
                <td>{{getMemberAge(member.id)}}</td>
            </tr>
            <tr>
       
            </tr>
            <tr>

            </tr>
        </table>
    </div>
</div>
